.app {
  top: 50%;
  right: 0;
}
.but {
  background: #23c7c7;
  color: white;
}
.fixContainer {
  width: 1300px;
}
.error,
.outBalance {
  margin: 5px 0;
  text-align: center;
}
.error {
  font-size: 8px;
}
.outBalance {
  font-size: 12px;
}
